<div class="main-block" style="margin-top: 150px">
    <h1>Inscription</h1>
    <form #inscriptionForm="ngForm" (ngSubmit)="inscription(inscriptionForm.value)">
        <hr>
        <label id="icon" for="nom"><i class="fas fa-user"></i></label>
        <input id="nom" type="text" name="nom" placeholder="Nom*" ngModel="" required>

        <label id="icon" for="nom"><i class="fas fa-user"></i></label>
        <input type="text" name="prenom" placeholder="Prénom*" ngModel="" required>

        <label id="icon" for="nom"><i class="fas fa-unlock-alt"></i></label>
        <input type="password" name="mdp" placeholder="Mot de passe*" ngModel="" required>

        <label id="icon" for="nom"><i class="fas fa-calendar-check"></i></label>
        <input type="date" name="dateNaissance" ngModel="">

        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="mail" id="name" placeholder="Email*" ngModel="" required />

        <div class="btn-block">
            <button type="submit" class="btn btn-primary z-depth-1" [disabled]="!inscriptionForm.form.valid">Valider</button>
            <button type="button" class="btn btn-primary z-depth-1" routerLink="/connexion">Connexion</button>
            <p class="mt-3" [style.color]="resultColor">{{resultMessage}}</p>
        </div>
    </form>
</div>