<!-- Footer -->
<footer class="page-footer font-small grey pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase"></h5>
        <img src="https://media.newjobs.com/clu/xsol/xsolutec05frx/branding/117320/SOLUTEC-logo.jpg"
          style="width: 10%; margin-bottom: 15px;">
        <p></p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">L'entreprise</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Contact</a>
          </li>
          <li>
            <a routerLink="politique">Politique de Confidentialité</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Elogames</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Questions</a>
          </li>
          <li>
            <a href="#!">Aide</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1">© 2022 Copyright:
    <a href="/"> SolutecGang</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->