<br> <br> <br> <br> <br>

<!-- END NAV -->


<section class="intro">
    <div class="bg-image h-100" style="
            background-image: url(https://mdbootstrap.com/img/Photos/new-templates/search-box/img5.jpg);
          ">
        <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0, 0.5);">
            <div class="container">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <div class="input-group">
                                    <div class="form-outline flex-fill">
                                        <input type="search" id="form1" class="form-control form-control-lg" />
                                        <label class="form-label" for="form1">Trouver un évenement par son nom</label>
                                    </div>
                                    <button type="button" class="btn btn-primary" (click)="callEventByNom()">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br>

<!--<div class="card" style="width: 18rem;">
    <div class="col-mv-12" *ngFor="let e of ListEventRandId">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top"
            alt="Chicago Skyscrapers" />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <ul class="list-group list-group-light list-group-small">
            <li class="list-group-item px-4">blabla</li>
            <li class="list-group-item px-4">Dapibus ac facilisis in</li>
            <li class="list-group-item px-4">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn">
                <td>{{"Rejoindre"}}</td>
            </button>
        </div>
    </div>
</div>-->

<ul class="cards">
    <li *ngFor="let e of EvenementsOne">
        <!--<div *ngIf="e.valide==true">-->
        <a href="" class="card">
            <!--<img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />-->
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc">
                        <path />
                    </svg>
                    <div class="card__header-text">
                        <h3 class="card__title">{{e.nom}}</h3>
                        <span class="card__status">{{e.adresse}}</span>
                    </div>
                </div>
                <p class="card__description">{{e.date}}</p>
            </div>
        </a>
        <!-- </div> -->

    </li>
</ul>