<br><br><br><br><br><br><br>



<table class="table align-middle mb- bg-white">
  <div class="col-mv-12" *ngFor="let e of TtEventId">
    <!-- <thead class="bg-light">
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Adresse</th>
                <th>Recurrence</th>
                <th>Niveau</th>
                <th>Description</th>
                <th>Nombre minimum</th>
                <th>Nombre maximum</th>
                <th>Activité</th>
                <th>Supprimer</th>

            </tr>
        </thead>-->
    <tbody>
      <tr>
        <td>{{e.evenements.nom}}</td>
        <td>{{e.evenements.date}}</td>
        <td>{{e.evenements.adresse}}</td>
        <td>{{e.evenements.recurrence}}</td>
        <td>{{e.evenements.niveau}}</td>
        <td>{{e.evenements.description}}</td>
        <td>{{e.evenements.nbmin}}</td>
        <td>{{e.evenements.nbmax}}</td>
        <td>{{e.evenements.activite}}</td>
        <td>
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </td>
        <td>
          <!--Mettre un if pour savoir si l'id du mec est connecté est le meme que celui du créateur-->
          <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="SupprimerEvent()">
            Supprimer
          </button>
        </td>
        <td>
          <!--Mettre un if pour savoir si l'id du mec est connecté est le meme que celui du créateur(else)-->
          <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="QuitterEvent()">
            Quitter
          </button>
        </td>
      </tr>
    </tbody>
  </div>
</table>


<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠    début de recherche de ttes les équipes de l'individue   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->
<!--<div class="col-md-12">
    <ul class="nav peach-gradient lighten-3 py-4 mb-4 font-weight-bold z-depth-1">
        <li class="nav-item col-md-4">
            <div class="row">
                <div class="col-sm-4" *ngFor="let e of TtEventId">
                    <div class="card p-2">
                        <p class="mx-auto my-auto">
                            <button type="button" class="btn btn">
                                <td>{{e.nom}}</td>
                                 <td>{{e.date}}</td>
                                <td>{{e.adresse}}</td>
                                <td>{{e.nomActivite}}</td>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>-->


<!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->

<!--<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Status</th>
        <th>Position</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">John Doe</p>
              <p class="text-muted mb-0">john.doe@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Software engineer</p>
          <p class="text-muted mb-0">IT department</p>
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>Senior</td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            Edit
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                class="rounded-circle"
                alt=""
                style="width: 45px; height: 45px"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Alex Ray</p>
              <p class="text-muted mb-0">alex.ray@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Consultant</p>
          <p class="text-muted mb-0">Finance</p>
        </td>
        <td>
          <span class="badge badge-primary rounded-pill d-inline"
                >Onboarding</span
            >
        </td>
        <td>Junior</td>
        <td>
          <button
                  type="button"
                  class="btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  >
            Edit
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                class="rounded-circle"
                alt=""
                style="width: 45px; height: 45px"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Kate Hunington</p>
              <p class="text-muted mb-0">kate.hunington@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Designer</p>
          <p class="text-muted mb-0">UI/UX</p>
        </td>
        <td>
          <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
        </td>
        <td>Senior</td>
        <td>
          <button
                  type="button"
                  class="btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table> -->