<div class="container mx-auto p-3 d-flex justify-content-center" style="width: fit-content; margin-top: 120px">
    <div class="card mx-auto p-5 aqua-gradient-rgba w-100">
        <div class="image d-flex flex-column justify-content-center align-items-center">
            <button class="btn" type="button" (click)="popup = true">
                <div>
                    <img class="pp1" *ngIf="membrePP==1" src="profil1.png" height="100" width="100" />
                    <img class="pp2" *ngIf="membrePP==2" src="profil2.png" height="100" width="100" />
                    <img class="pp3" *ngIf="membrePP==3" src="profil3.png" height="100" width="100" />
                    <img class="pp4" *ngIf="membrePP==4" src="profil4.png" height="100" width="100" />
                    <img class="pp5" *ngIf="membrePP==5" src="profil5.png" height="100" width="100" />
                </div>
            </button>
            <span class="name mt-3">{{authService.getMembreTargeted().prenom}}
                {{authService.getMembreTargeted().nom}}</span>
            <span class="idd">{{authService.getMembreTargeted().mail}}</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                <span class="idd1">{{authService.getMembreTargeted().dateNaissance | date : 'dd/MM/yyyy'}}</span>
            </div>
            <div class="d-flex flex-row text-left align-items-center mt-3">
                <span class="number">
                    Score : {{authService.getMembreTargeted().score}} <br>
                    Expérience : {{authService.getMembreTargeted().xp}}
                </span>
            </div>
            <div class="text mt-3 text-center">
                <span style="color:black">
                    {{authService.getMembreTargeted().note}}
                </span>
            </div>
            <div class=" d-flex mt-5" *ngIf="authService.getMembreTargeted().id == authService.getUserConnect().id">
                <button class="btn1 btn-dark text-white" routerLink="/modifier-profil">Modifier mon profil</button>
            </div>
            <div class=" d-flex mt-4" *ngIf="!(authService.getMembreTargeted().id == authService.getUserConnect().id)">
                <button class="btn1 btn-dark text-white">Envoyer un message</button>
            </div>
        </div>
    </div>
</div>



<div class="col-md-12">
    <ul class="nav peach-gradient-rgba lighten-3 py-4 mb-4 font-weight-bold z-depth-1">
        <li class="nav-item col-md-4">
            Mes données
            <div class="card mx-xl-5">
                <!-- Card body -->
                <div class="card-body">

                    <p>{{authService.getUserConnect().id}}</p>
                    <p>{{authService.getUserConnect().nom}}</p>
                    <p>{{authService.getUserConnect().prenom}}</p>
                    <p>{{authService.getUserConnect().mail}}</p>
                    <p>{{authService.getUserConnect().dateNaissance}}</p>

                </div>
                <!-- Card body -->

            </div>
        </li>
        <li class="nav-item col-md-4">
            Mes évènements à venir
            <div class="card mx-xl-5">
                <!--Card body
                    <p>{{authService.getUserConnect().id}}</p>
                <div class="card-body">

                    <p>{{authService.getUserConnect().nom}}</p>
                    <p>{{authService.getUserConnect().prenom}}</p>
                    <p>{{authService.getUserConnect().mail}}</p>
                    <p>{{authService.getUserConnect().dateNaissance}}</p>

                </div>
                Card body -->

                <div class="col-mv-12" *ngFor="let e of TtEventId">
                    <!-- <thead class="bg-light">
                </thead>-->
                    <tbody>
                        <tr>
                            <td>{{e.evenements.nom}}</td>
                            <td>{{e.evenements.date}}</td>
                            <td>{{e.evenements.adresse}}</td>
                            <td>{{e.evenements.recurrence}}</td>
                            <td>{{e.evenements.niveau}}</td>
                            <td>{{e.evenements.description}}</td>
                            <td>{{e.evenements.nbmin}}</td>
                            <td>{{e.evenements.nbmax}}</td>
                            <td>{{e.evenements.activite}}</td>
                            <td>
                                <div class="md-form my-0">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Search"
                                        aria-label="Search">
                                </div>
                            </td>
                            <td>
                                <!--Mettre un if pour savoir si l'id du mec est connecté est le meme que celui du créateur-->
                                <button type="button" class="btn btn-link btn-sm btn-rounded"
                                    (click)="SupprimerEvent(e.evenements.id)">
                                    Supprimer
                                </button>
                            </td>
                            <td>
                                <!--Mettre un if pour savoir si l'id du mec est connecté est le meme que celui du créateur(else)-->
                                <button type="button" class="btn btn-link btn-sm btn-rounded"
                                    (click)="QuitterEvent(e.evenements.id)">
                                    Quitter
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </li>
    </ul>
</div>


<div class="overlay" *ngIf="popup">
    <div class="popup">
        <h2>Choisisez votre photo de profil</h2>
        <a class="close" (click)="popup = false">&times;</a>
        <div class="content">
            <button class="btn" type="button" (click)="this.setPhotoProfil(authService.getUserConnect().id,1)">
                <img class="pp1" src="profil1.png" />
            </button>
            <button class="btn" type="button" (click)="this.setPhotoProfil(authService.getUserConnect().id,2)">
                <img class="pp2" src="profil2.png" />
            </button>
            <button class="btn" type="button" (click)="this.setPhotoProfil(authService.getUserConnect().id,3)">
                <img class="pp3" src="profil3.png" />
            </button>
            <button class="btn" type="button" (click)="this.setPhotoProfil(authService.getUserConnect().id,4)">
                <img class="pp4" src="profil4.png" />
            </button>
            <button class="btn" type="button" (click)="this.setPhotoProfil(authService.getUserConnect().id,5)">
                <img class="pp5" src="profil5.png" />
            </button>
        </div>
    </div>
</div>