* {
    margin: 0;
    padding: 0
}


.card {
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.btn.btn-white:hover img {
    transform: scale(1.5)
}

.btn.btn-pp:hover img {
    transform: scale(1.3);
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin: 20px;
    background-color: #d7eaf1;
}

.btndelete {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0px;
    background-color: #f42a18;
}


.name {
    font-size: x-large;
    font-weight: bold
}

.idd {
    font-size: larger;
    font-weight: 600
}

.idd1 {
    font-size: larger
}

.number {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    padding: 5px;
    margin: auto;
    height: 100%;
    width: 100%;
    border: white solid 1px;
    border-top-right-radius: 2px;
    background-color: #000;
    color: #aeaeae;
    font-size: larger;
}

.text span {
    font-size: larger;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.scrollable {
    overflow-x: auto;
    scrollbar-color: inherit;
}

.date {
    background-color: #ccc
}

.pp1 {
    src: url(profil1.png);
    height: 100px;
    width: 100px;

}

.pp2 {
    src: url(profil2.png);
    height: 100px;
    width: 100px;
}

.pp3 {
    src: url(profil3.png);
    height: 100px;
    width: 100px;
}

.pp4 {
    src: url(profil4.png);
    height: 100px;
    width: 100px;
}

.pp5 {
    src: url(profil5.png);
    height: 100px;
    width: 100px;
}

/*POP UP */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 50% auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
    cursor: pointer;
}

.popup .content {
    max-height: 70%;
    overflow: auto;
}

@media screen and (max-width: 700px) {

    .popup {
        width: 70%;
    }
}


/*BOUTON AJOUTER AMI*/
.bn29 {
    border: none;
    padding: 0.8em 2.5em;
    outline: none;
    color: white;
    font-style: 1.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.bn29:before,
.bn29:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(60deg,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82);
}

.bn29:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
}

.bn29:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
}

.bn29:hover:before {
    width: 115%;
    height: 115%;
}