<br> <br> <br> <br> <br> <br> <br>

<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠        Navbar       ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠               -->

<!--
<ul class="nav grey lighten-4 py-4">
    <li class="nav-item">
      <a class="nav-link active" href="#!">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="equipes">Equipe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!">Evenement</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#!">Deconnexion</a>
    </li>
  </ul>

  <br>-->
<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠      Fin  Navbar   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠               -->


<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠      création équipe   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠               -->

<!-- Card -->

<div class="col-md-12">
  <ul class="nav peach-gradient lighten-3 py-4 mb-4 font-weight-bold z-depth-1">
    <li class="nav-item col-md-4">
      <div class="card mx-xl-5">

        <!-- Card body -->
        <div class="card-body">

          <!-- Default form subscription -->
          <form #creationequipes="ngForm" (ngSubmit)="creationEquipe(creationequipes.value)">
            <p class="h4 text-center py-4">Création de ton équipe</p>

            <!-- Default input name -->
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Nom de l'équipe</label>
            <input type="text" name="nom" placeholder="Nom de votre équipe" class="form-control" ngModel="">

            <br>

            <div class="text-center py-4 mt-3">
              <button class="btn btn-outline-purple" type="submit">Valider l'équipe<i
                  class="fa fa-paper-plane-o ml-2"></i></button>
            </div>
            <p class="mt-3" [style.color]="resultColor">{{resultMessage}}</p>
          </form>
          <!-- Default form subscription -->

        </div>
        <!-- Card body -->

      </div>
    </li>

    <!-- Card -->

    <!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠         fin création équipe   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->
    <li class="nav-item col-md-8">
      <br>
      <h1>Mes équipes :</h1>

      <!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠    début de recherche des équipes créer par l'individue   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->
      <br>
      <div>
        <div class="row">
          <div class="col-sm-4" *ngFor="let e of EquipesId1">
            <div class="card p-2">
              <button type="button" class="btn btn">
    <li class="nav-item">
      <a routerLink="/equipes">
        <p class="mx-auto my-auto">
          {{e.nom}}
        </p>
      </a>
    </li>
    </button>
</div>
</div>
</div>
</div>
</li>
</ul>
</div>
<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠       fin recherche des équipes créer par l'individue     ♥♦♣♠♥♦♣♠♥♦ -->

<h1>Toutes mes équipes :</h1>

<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠    début de recherche de ttes les équipes de l'individue   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->
<div class="col-md-12">
  <ul class="nav peach-gradient lighten-3 py-4 mb-4 font-weight-bold z-depth-1">
    <li class="nav-item col-md-6">
      <div class="row">
        <div class="col-sm-6" *ngFor="let a of TtEquipeId">
          <div class="card p-2">
            <p class="mx-auto my-auto">
              <button type="button" class="btn btn">
    <li class="nav-item">
      <a routerLink="/equipes">
        <td>{{a.equipes.nom}}</td>
      </a>
    </li>
    </button>
    </p>
</div>
</div>
</div>
</li>
</ul>
</div>

<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠    Fin recherche de ttes les équipes de l'individue   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->