<h1 style="margin-top:130px"></h1>

<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠        Navbar       ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠               -->

<!--
<ul class="nav grey lighten-4 py-4">
    <li class="nav-item">
      <a class="nav-link active" href="#!">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="equipes">Equipe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!">Evenement</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#!">Deconnexion</a>
    </li>
  </ul>

  <br>-->
<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠      Fin  Navbar   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠               -->


<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠      création équipe   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠               -->

<!-- Card -->
<div ngif="equipe">

  <!--  <section class="intro">
    <div class="center">
          <div class="bg-image h-100" style="
            background-image: url(https://mdbootstrap.com/img/Photos/new-templates/search-box/img5.jpg);
          ">-->

  <div class="col-md-12">
    <ul class="nav sunny-morning-gradient lighten-3 py-4 mb-4 font-weight-bold z-depth-2">
      <li class="nav-item col-md-2">
        <div class="card mx-xl-8">

          <!-- Card body -->
          <div class="card-body">

            <!-- Default form subscription -->
            <form #creationequipes="ngForm" (ngSubmit)="creationEquipe(creationequipes.value)">
              <p class="h4 text-center py-4">Création de ton équipe</p>

              <!-- Default input name -->
              <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Nom de l'équipe</label>
              <input type="text" name="nom" placeholder="Nom de votre équipe" class="form-control" ngModel="">

              <br>

              <div class="text-center py-4 mt-3">
                <button class="btn btn-outline-purple" type="submit">Valider l'équipe
                  <i class="fa fa-paper-plane-o ml-2"></i></button>
              </div>
              <p class="mt-3" [style.color]="resultColor">{{resultMessage}}</p>
            </form>
            <!-- Default form subscription -->

          </div>
          <!-- Card body -->

        </div>
      </li>

      <!-- Card -->

      <!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠         fin création équipe   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->

      <!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠    début de recherche des équipes créer par l'individue   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->

      <li class="nav-item col-md-2">
        <h3>Gérer mes équipes:</h3>
        <div class="scrollx">

          <div class="row">
            <div *ngFor="let e of EquipesId1">
              <div class="card1 p-2">
                <button type="monBoutton" class="btn btn" (click)="equipeservice.setEquipe(e)" routerLink="/equipes">
      <li class="nav-item">
        <p class="mx-auto my-auto">
          {{e.nom}}
        </p>
      </li>
      </button>
  </div>
</div>
</div>
</div>





</li>

<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠    début de recherche des équipes créer par l'individue   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->


<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠    début de recherche de ttes les équipes de l'individue   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->

<li class="nav-item col-md-8">

  <h3>Toutes mes équipes :</h3>


  <div class="scrollx">


    <div class="row">
      <div *ngFor="let a of TtEquipeId">
        <div class="card2">

          <p class="mx-auto my-auto">
            <button type="monBoutton2" class="monBoutton2" style="width:300px" style="height:150px"
              (click)="equipeservice.setEquipe(a.equipes)" routerLink="/equipes" background-color: #007BFF>
<li class="nav-item">
  <td text-align: center>{{a.equipes.nom}}</td>
</li>
</button>
</p>

</div>
</div>
</div>
</div>
</li>
</ul>
</div>
</div>
<!--
</div>
</section>
</div>-->


<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠       fin recherche des équipes créer par l'individue     ♥♦♣♠♥♦♣♠♥♦ -->




<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠    début de recherche de ttes les équipes de l'individue   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->


<!-- a supprimer-->


<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠    Fin recherche de ttes les équipes de l'individue   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠             
  <br>
  <div>
    <div class="row">
      <div class="col-sm-4" *ngFor="let e of EquipesId1">
        <div class="card p-2">
          <button type="button" class="btn btn" (click)="equipeservice.setEquipe(e)" routerLink="/equipes">
            <li class="nav-item">
              <a routerLink="/equipes">
                <p class="mx-auto my-auto">
                  {{e.nom}}
                </p>
              </a>
            </li>
          </button>
        </div>
      </div>
    </div>
  </div> -->