<!--                       Navbar                              -->

<ul class="nav grey lighten-4 py-4">
    <li class="nav-item">
        <a class="nav-link active" href="#!">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Equipe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Evenement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#!">Deconnexion</a>
    </li>
</ul>

<br>
<!--                     Fin  Navbar                              -->


<!--                       Creation évenement                              -->

<!-- Card -->
<div class="card mx-xl-5">

    <!-- Card body -->
    <div class="card-body">

        <!-- Default form subscription -->
        <form>
            <p class="h4 text-center py-4">Création de ton évenement</p>

            <!-- Default input name -->
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Titre</label>
            <input type="text" id="defaultFormCardNameEx" class="form-control">

            <br>

            <!-- Default input date -->
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Date</label>
            <input type="date" id="defaultFormCardNameEx" class="form-control">

            <br>

            <!-- Default input adresse -->
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Adresse</label>
            <input type="text" id="defaultFormCardNameEx" class="form-control">

            <br>

            <!-- Default input recurrence -->
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">recurrence</label>
            <input type="text" id="defaultFormCardNameEx" class="form-control">

            <br>

            <!-- Default input Description -->
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Description</label>
            <input type="text" id="defaultFormCardNameEx" class="form-control">

            <br>

            <!-- Default input nombre min -->
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Nombre minimum de joueurs</label>
            <input type="int" id="defaultFormCardNameEx" class="form-control">

            <br>

            <!-- Default input nombre max -->
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Nombre maximum de joueurs</label>
            <input type="int" id="defaultFormCardNameEx" class="form-control">

            <br>

            <!-- Default input Activite -->
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Activite</label>
            <input type="text" id="defaultFormCardNameEx" class="form-control">

            <div class="text-center py-4 mt-3">
                <button class="btn btn-outline-purple" type="submit">Valider l'évenement<i
                        class="fa fa-paper-plane-o ml-2"></i></button>
            </div>
        </form>
        <!-- Default form subscription -->

    </div>
    <!-- Card body -->

</div>
<!-- Card -->

<!--                       fin création evenement                             -->