<!--                       Creation évenement                              -->
<br><br><br><br><br>

<a class="nav-link" routerLink="/creation-evenement">Creation d'un evenement</a>
<a class="nav-link" routerLink="/mesevenements">Mes évenements</a>

<!-- END NAV -->
<!--<div class="card z-depth-5">
    <div class="card-body">
        <form #creationForm="ngForm" (ngSubmit)="creerEvent(creationForm.value)">
            <input type="text" name="nom" placeholder="nom" ngModel="">
            <input type="date" name="date" placeholder="date" ngModel="">
            <input type="text" name="adresse" placeholder="adresse" ngModel="">
            <input type="text" name="niveau" placeholder="niv" ngModel="">
            <input type="text" name="description" placeholder="desc" ngModel="">
            <input type="int" name="nbmin" placeholder="min" ngModel="">
            <input type="int" name="nbmax" placeholder="max" ngModel="">
            <input type="text" name="nomActivite" placeholder="act" ngModel="">
            <button class="btn btn-primary">Creer</button>
        </form>
    </div>
</div>-->

<!--                       fin création evenement                             -->

<head>
    <title>Roommate Application Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style href="newactivite.component.css"></style>
</head>

<body>

    <div class="col-md-6">
        <ul class="nav peach-gradient lighten-3 py-4 mb-4 font-weight-bold z-depth-1">
          <li class="nav-item col-md-9 mx-auto">
            <div class="card mx-xl-5">
      
              <!-- Card body -->
              <div class="card-body">
      
                <!-- Default form subscription -->
                <form #EvenementForm="ngForm" (ngSubmit)="creerEvent(EvenementForm.value)">
                  <p class="h4 text-center py-4">Création d'un évènement</p>
      
                  <!-- Default input name -->
                  <div class=md-form>
                  <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Nom de l'évènement</label>
                  <input type="text" name="nom" placeholder="Donne un nom à ton évènement." class="form-control" ngModel="">
                </div>
                <div class=md-form>
                  <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Date</label>
                  <input type="date" name="date" placeholder="jj/mm/aaaa" class="form-control" ngModel="">
                </div>
                <div class=md-form>
                  <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Adresse</label>
                  <input type="text" name="adresse" placeholder="Où se déroulera l'évènement." class="form-control" ngModel="">
                </div>
                <div class=md-form>
                  <label for="defaultFormCardNameEx" class="grey-text font-weight-light">à mettre</label>
                  <input type="text" name="" placeholder="à mettre" class="form-control" ngModel="">
                </div>


                <div class=md-form>
                  <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Description</label>
                  <input type="text"  name="Décris nous l'évènement." placeholder="Description" class="form-control" ngModel="">
                </div>
                <div class=md-form>
                  <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Nombre de joueurs minimums</label>
                  <input type="number" name="nbmin" placeholder="Nombre de joueurs minimums." class="form-control" ngModel="">
                </div>
                <div class=md-form>
                  <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Nombre de joueurs maximum</label>
                  <input type="number" name="nbmax" placeholder="Nombre de joueurs maximum." class="form-control" ngModel="">
                </div>
                
                <div class="md-form">
                    <label for="exampleFormControlSelect1" class="abc">Niveau</label>
                    <select class="form-control" name="niveau" id="exampleFormControlSelect1" ngModel="">
                      <option>Débutant</option>
                      <option>Intérmediaire</option>
                      <option>Expert</option>
                      <option>Autre (à préciser en description)</option>
                      
                    </select>
                  </div>
                  
                  <div class="text-center py-4 mt-3">
                    <button class="btn btn-outline-danger btn-block" type="submit">Valider l'évènement<i
                        class="fa fa-paper-plane-o ml-1"></i></button>
                  </div>
                  
                </form>
                <!-- Default form subscription -->
      
              </div>
              <!-- Card body -->
      
            </div>
          </li>
          </ul>
    </div>




<!--
            <div class="item">
                <br><br>
                <select name="type" id="fcom" ngModel="">
                    <option value="">---</option>
                    <option value="Sport">Tous les jours</option>
                    <option value="Jeu de Société">Toutes les semaines</option>
                    <option value="Jeu Vidéo">Tous les mois</option>
                    <option value="Autre">Autre (à préciser en description)</option>
                </select>
            </div>
            <div class="item">
                <br><br>
                <select name="type" id="fcom" ngModel="">
                    <option value="">---</option>
                    <option value="Sport">Débutant</option>
                    <option value="Jeu de Société">Moyen</option>
                    <option value="Jeu Vidéo">Expert</option>
                    <option value="Autre">Autre (à préciser en description)</option>
                </select>
            </div>
            <div class="item">
                <br><br>
                <textarea name="contenu" id="fcom" ngModel="" placeholder="Description"></textarea>
            </div>
            <div class="item">
                <br><br>
                <input type="int" id="fcom" name="nbmin" size="25" ngModel="" placeholder="Nombre de joueurs minimum" />
            </div>
            <div class="item">
                <br><br>
                <input type="int" id="fcom" name="nbmax" size="25" ngModel="" placeholder="Nombre de joueurs maximum" />
            </div>

            <div class="item">
                <br><br>
                <input type="text" id="fcom" name="activite" size="25" ngModel="" placeholder="Type d'activité" />
            </div>
            <div class="mt-4" style="text-align :center">
                <button mat-raised-button color="primary">Validez la création de l'évenement</button>
               le boutton a l'activation recupere le nom du mec connecté, qui vient prendre la place de evenement.createur
            </div>-->
     
</body>