<div class="container">
    <section class="mb-4">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Nous contacter</h2>
        <p class="text-center w-responsive mx-auto mb-5">Vous avez une question? N'hésitez pas à nous laisser un
            message.</p>

        <div class="row">

            <div class="col-md-9 mb-md-0 mb-5">
                <form #contactForm="ngForm"(ngSubmit)="contact(contactForm.value)" >
                  
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Votre nom</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="mail" class="form-control">
                                <label for="email" class="">Votre email</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Sujet</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-md-12">

                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2"
                                    class="form-control md-textarea"></textarea>
                                <label for="message">Message</label>
                            </div>

                        </div>
                    </div>


                </form>

                <div class="text-center text-md-left">
                    <button type="submit" class="btn btn-primary z-depth-1" >Valider</button>
                </div>
                <div class="status"></div>
            </div>

            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Paris, France</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+ 01 234 567 89</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>contact@mup.com</p>
                    </li>
                </ul>
            </div>


        </div>

    </section>

</div>