<nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="height: 74.3px;">

  <div class="container">
    <a class="navbar-brand">

      <img src="https://media.newjobs.com/clu/xsol/xsolutec05frx/branding/117320/SOLUTEC-logo.jpg" routerLink="home"
        width="30" height="30" alt="">
    </a>
    <!--toggler-->

    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!--fin toggler-->

    <div class="collapse navbar-collapse justify-content-between" id="navbarToggler">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="">Lien1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Lien2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="creationequipes">Creation equipe</a>

        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="creationequipes">Equipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="evenement">Évènement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="activites">Activités</a>
        </li>



      </ul>


        <div class="form-inline ml-auto">
          >>>>>>> 2c558deb7038a84cdef7df795318dc4eba65bf1d

          <button type="button" class="btn btn-light" routerLink="inscription">Inscription</button>
          <button type="button" class="btn btn-light" routerLink="connexion">Connexion</button>

        </div>
        <div class="form-inline ml-auto">
          <button type="button" class="btn btn-sm btn-danger" *ngIf="authService.isConnected()"
            (click)="authService.deco()">
            Déconnexion
          </button>
        </div>
    </div>

  </div>

 </nav>
   

