<!--<div>
  <app-connexion></app-connexion>
  <app-inscription></app-inscription>
</div>-->
<!--

   <app-menu></app-menu> -->

<router-outlet></router-outlet>

  <h2 class="text-center text-info">Bonjour Dev-2-22</h2>
  <!-- <app-activites></app-activites> -->

<app-activites></app-activites>

<app-inscription></app-inscription>-->

<app-creationequipes></app-creationequipes>
<!--  <app-activites></app-activites> 

<app-activites></app-activites>

<app-inscription></app-inscription>



 -->

<router-outlet></router-outlet> 
