:host {
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     top: 0;
}

.placeholder {
     display: flex;
     flex-flow: column;
     height: calc(100vh);
}

.inner-placeholder {
     flex: 1;
}

app-footer {
     bottom: 0;
     max-height: 144px;
}