<h1 style="margin-top:150px">Bienvenue sur l'équipe {{equipeservice.getEquipe().nom}}</h1>

<!--<h1>Bienvenue sur l'equipe {{equipeservice.getEquipe()[0].nom}}</h1>-->

<!-- ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠ -->





<!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠         inviter qqun dans l'equipe   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->


<!-- Card body -->
<div class="row" style="margin-top:50px">

  <div class="col-1"></div>
  <div class="col-3">



    <ul class="nav sunny-morning-gradient lighten-3 py-4 mb-4 font-weight-bold z-depth-2">

      <div class="col-md-12">
        <h1 text-align: center> Vos coéquipiers</h1>
      </div>

      <div class="col-md-12">
        <div class="card-body">
          <div class="card">
            <!-- Default form subscription -->
            <form #invitation="ngForm" (ngSubmit)="sendinvitationEq(invitation.value)">
              <p class="h6 text-center py-4">Ajouter un membre</p>

              <!-- Default input name -->
              <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Nom de votre futur équipier</label>
              <input type="text" name="id" placeholder="id de votre équipier" class="form-control" ngModel="">

              <div class="text-center py-4 mt-3">
                <button class="btn btn-outline-purple" type="submit">Inviter
                  <i class="fa fa-paper-plane-o ml-2"></i></button>
              </div>
              <p class="mt-3" [style.color]="resultColor">{{resultMessageInvit}}</p>
            </form>
            <!-- Default form subscription -->
          </div>
        </div>
      </div>
      <!-- Card body -->


      <div *ngFor="let Lm of LesMembres">

        <div class="card1">
          <button type="button" class="monBoutton1" (click)="authService.setMembreTargetInLocalStorage(Lm.membres)"
            routerLink="/membres">
            <td>{{Lm.membres.prenom}}</td><br>
            <td>{{Lm.membres.nom}}</td>
          </button>
          <!--    <button type="button" class="btn btn" (click)="authService.setMembreTargetInLocalStorage(Lm.membres)">
            supprimer
          </button>-->
        </div>
      </div>
    </ul>


  </div>
  <!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠       Fin  inviter qqun dans l'equipe   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->
  <div class="col-1"></div>
  <!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠         ajouter un evenement  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->

  <div class="col-6">

    <ul class="nav sunny-morning-gradient lighten-3 py-4 mb-4 font-weight-bold z-depth-2">
      <div class="col-md-12">
        <h1 text-align: center>Evenement</h1>
      </div>
      <!-- Card body -->

      <div class="col-md-12">
        <div class="card-body">
          <div class="card mx-xl-4">
            <!-- Default form subscription -->
            <form #creerevenement="ngForm" (ngSubmit)="AjouterEvenement(creerevenement.value)">
              <p class="h6 text-center py-4">Ajoutez un évenement</p>

              <!-- Default input name -->
              <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Entrez votre prochain évenement
                d'équipe</label>
              <input type="text" name="id" placeholder="id de l'évenement" class="form-control" ngModel="">

              <br>

              <div class="text-center py-4 mt-3">
                <button class="btn btn-outline-purple" type="submit">Ajouter
                  <i class="fa fa-paper-plane-o ml-2"></i></button>
              </div>
              <p class="mt-3" [style.color]="resultColor">{{resultMessageInvit}}</p>
            </form>
            <!-- Default form subscription -->
          </div>
        </div>
      </div>
      <!-- Card body -->

      <!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠         fin ajouter un evenement   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->

      <!-- Card -->

      <!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠         fin création équipe   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->



      <!--  ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠    début de recherche des équipes créer par l'individue   ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠              -->



      <div class="col-sm-2" *ngFor="let Le of LesEvenements">
        <p>Les Evenements de {{equipeservice.getEquipe().nom}} :</p>
        <div class="card1">
          <button type="button" class="monBoutton1"
            (click)="equipeservice.setEvenementTargetInLocalStorage(Le.Evenement)" routerLink="/evenement">
            <td>{{Le.evenement.nomActivite}}</td>
          </button>
        </div>

      </div>



    </ul>

    <div class="col-1"></div>
  </div>
  <!-- ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠ -->

</div>


<!--
<div class="card-body">


  <form #invitation="ngForm" (ngSubmit)="sendinvitationEq(invitation.value)">
    <p class="h4 text-center py-4">Invitation à l'équipe</p>

 
    <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Nom de votre future équipier</label>
    <input type="text" name="id" placeholder="id" class="form-control" ngModel="" >

    <br>

    <div class="text-center py-4 mt-3">
      <button class="btn btn-outline-purple" type="submit">Inviter
        <i class="fa fa-paper-plane-o ml-2"></i>
      </button>
      <p class="mt-3" [style.color]="resultColor">{{resultMessageInvit}}</p>
    </div>
    



  </form>
</div>
-->




<!-- ♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠♥♦♣♠ -->