.descriact {
    width: 30%;
    outline: 0;
    height: 100px;
    padding: 10px;
    border: 10;
    line-height: 20px;
    border-color: blue;
    background: black;
    color: white;
    display: block;
}