<html>
<body>

  

<ul class="medias">
    <li class="bulle"><img src="assets/fb.svg" class="logo-medias"></li>
    <li class="bulle"><img src="assets/insta.svg" class="logo-medias"></li>
    <li class="bulle"><img src="assets/yt.svg" class="logo-medias"></li>
    <li class="bulle"><img src="assets/fb.svg" class="logo-medias"></li>
  </ul>

  <div class="container-first">
    <h1><span>Démontre </span><span>tes </span><span>capacités </span></h1>
    <div class="container-btns">
        <button class="btn-first b1">Le concept</button>
        <button class="btn-first b2">Rejoindre l'équipe</button>
    </div>
</div>

</body>

</html>

