<html>

<head>
</head>
<div>
    <img src="assets/img/Multisport.jpeg" alt="my image" width=100% height=max-height>

    <div>
        <ul class="medias">
            <a class="" href="https://www.twitter.com/" target="_blank">
                <li class="bulle"><img src="assets/twi.png" class="logo-medias"></li>
            </a>
            <a class="" href="https://www.instagram.com/" target="_blank">
                <li class="bulle"><img src="assets/insta.svg" class="logo-medias">
                </li>
            </a>
            <a class="" href="https://youtube.com/" target="_blank">
                <li class="bulle"><img src="assets/yt.svg" class="logo-medias"></li>
            </a>
            <a class="" href="https://www.facebook.com/" target="_blank">
                <li class="bulle"><img src="assets/fb.svg" class="logo-medias"></li>
            </a>
        </ul>
    </div>

    <div class="container-first">
        <h1><span>Rencontre </span><span>des </span><span>Joueurs </span></h1>
        <div class="container-btns" *ngIf="authService.isConnected()">
            <button class="btn-first b1" (click)="scroll(concept)">Découvre-nous</button>

        </div>
        <div class="container-btns" *ngIf="!authService.isConnected()">
            <button class="btn-first b1" (click)="scroll(concept)">Découvre-nous</button>
            <button type="button" class="btn-first b2" routerLink="/inscription">Rejoindre l'équipe</button>
        </div>



    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

</div>
<!-- Concept-->
<section class="page-section" #concept id="concept">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Le concept</h2>
            <h3 class="section-subheading text-muted"> MUP a pour vocation de rassembler les amoureux du jeu et de
                les amener à se rencontrer pour des parties effrénées</h3>
        </div>
        <div class="row text-center">

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Amical</h4>
                <p class="text-muted">Joue pour le plaisir, redécouvre des activités oubliées ou apprends en de
                    nouvelles </p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-link fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Rencontres</h4>
                <p class="text-muted">Rencontre d'autres utilisateurs avec les mêmes centres d'intérets et rencontre les
                    autour d'une activité ludique ou sportive</p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Compétitif</h4>
                <p class="text-muted">Mesure toi aux autres utilisateurs dans tes domaines de prédilecton</p>
            </div>
        </div>
    </div>
</section>


<!-- Activités -->
<section class="page-section bg-light" id="activites">
    <div class="container bg-light">
        <div class="row">
            <div class="card my-4 border-0 rounded-0">
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/sports.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-6 bg-light">
                        <div class="card-body ">
                            <h5 class="card-title">Sports</h5>
                            <p class="card-text">

                                Organise ou rejoint des évènements sportifs publics ou entre amis grâce à notre large
                                panel de sports.
                            </p>
                            <p class="card-text"><a class="text-muted">Last updated 3 mins ago</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card my-4 border-0 rounded-0">
                <div class="row">

                    <div class="col-md-6 bg-light" style="vertical-align: middle;">
                        <div class="card-body ">
                            <h5 class="card-title">Jeux de société</h5>
                            <p class="card-text">
                                <br>
                                Participe à des des soirées sur le thème du jeu, organise des rencontres entre
                                passionnés ou des sessions découverte de jeux pour les nouveaux arrivants.
                            </p>
                            <p class="card-text"><a class="text-muted">Last updated 3 mins ago</a></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="https://cdn.pixabay.com/photo/2017/09/08/20/29/chess-2730034_960_720.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>

            <div class="card my-4 border-0 rounded-0">
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/jeuxv.jpg" class="img-fluid rounded-start" alt="...">
                        <!--  Carousel Wrapper
                        <div id="carousel-example-1z" class="carousel slide " data-ride="carousel">
                            Indicators
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block w-100"
                                        src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).webp"
                                        alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                        src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).webp"
                                        alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                        src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).webp"
                                        alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel-example-1z" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-1z" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>-->
                    </div>
                    <div class="col-md-6 bg-light">
                        <div class="card-body ">
                            <h5 class="card-title">Jeux Vidéos</h5>
                            <p class="card-text">
                                <br>
                                Tu es à la recherche de coéquipiers pour participer aux prochaines compétitions ou juste
                                pour rigoler le soir? Où simplement à la recherce d'adversaires?
                                Que tu sois un joueur Playstation, Xbox, Nintendo, ou PC, MUP est là pour te
                                trouver les bonnes personnes.
                            </p>


                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="d-grid gap-2 col-12 mx-auto" style="text-align: center;">
        <button type="button" class="btn btn-light" routerLink="inscription">Inscrivez vous pour participer</button>
    </div>
</section>

<!-- Historique -->

<br>
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">L'histoire de MUP</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img src="mup.png" routerLink="home"
                    width="100" height="40" style="float:none; margin-top: 55px;" alt="">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>28 mars 2022</h4>
                        <h4 class="subheading">Le commencement</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            <br>
                            L'histoire débute le 28 mars 2022. En ce jour, 7 jeunes cadres dynamiques
                            rejoignent l'entreprise Solutec. Sous la pression grandissante, l'un d'entre eux quitte
                            rapidement le navire. Les 6 derniers vont, suite à cela, donner naissance à MUP.
                        </p>
                    </div>
                </div>
            </li>


            <li class="timeline-inverted">
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid"
                        src="https://cdn.pixabay.com/photo/2019/07/02/05/56/rocket-4311575_960_720.png" alt="..."
                        style="width: 100%; margin-top: px;" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>6 mai 2022</h4>
                        <h4 class="subheading">Le lancement</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            <br>
                            Seulement 6 semaines après le commencement, le projet est lancé sur le
                            Web.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>

                        Rejoignez
                        <br>
                        Nous
                        <br>
                        Vite!

                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Equipe-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Notre équipe</h2>
            <h3 class="section-subheading text-muted">Les fondateurs de MUP</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="./assets/img/lucas.jpg" alt="..." />
                    <h4>Lucas AUBRUN</h4>
                    <p class="text-muted">Lead Designer</p>
                    <br>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/petit.ange2019"
                        target="_blank" aria-label="Parveen Anand Facebook Profile"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2"
                        href="https://fr.linkedin.com/in/lucas-aubrun-4a5260171?trk=people-guest_people_search-card"
                        target="_blank" aria-label="Parveen Anand LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="./assets/img/clara.jpg" alt="..." />
                    <h4>Clara RAISON</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <br>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2"
                        href="https://www.facebook.com/profile.php?id=100006881985051" target="_blank"
                        aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2"
                        href="https://fr.linkedin.com/in/clara-raison-057943179?trk=people-guest_people_search-card"
                        target="_blank" aria-label="Diana Petersen LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="./assets/img/matthieu.jpg" alt="..." />
                    <h4>Matthieu BEAUCHET</h4>
                    <p class="text-muted">Lead Developer</p>
                    <br>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/matthieu.beauchet"
                        target="_blank" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2"
                        href="https://fr.linkedin.com/in/matthieu-beauchet-51b468158?trk=people-guest_people_search-card"
                        target="_blank" aria-label="Larry Parker LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="./assets/img/alexis.jpg" alt="..." />
                    <h4>Alexis PERROCHEAU</h4>
                    <p class="text-muted">Lead Developer</p>
                    <br>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/alexis.perrocheau.zer"
                        target="_blank" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2"
                        href="https://fr.linkedin.com/in/alexis-perrocheau?trk=people-guest_people_search-card"
                        target="_blank" aria-label="Larry Parker LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="pic rounded-circle" src="./assets/img/dylan.JPG" alt="..." />
                    <h4>Dylan SERGEANT</h4>
                    <p class="text-muted">Lead Developer</p>
                    <br>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/dylan.sergeant.94 "
                        target="_blank" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2"
                        href="https://fr.linkedin.com/in/dylan-sergeant-4172a219b?trk=people-guest_people_search-card"
                        target="_blank" aria-label="Larry Parker LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="pic rounded-circle" src="./assets/img/alex.jpg" alt=".ff.." />

                    <h4>Alexandre ROUX</h4>
                    <p class="text-muted">Front-end Developper</p>
                    <br>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/Alexandre.roux22"
                        target="_blank" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2"
                        href="https://fr.linkedin.com/in/alexandre-roux-726562142?trk=people-guest_people_search-card"
                        target="_blank" aria-label="Larry Parker LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <br>
                <br>
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
                    laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>

</html>